
@use "../../../../styles/common" as *;

.primaryBtn {
    background-color: $color-primary;
    color: $color-white;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    padding: 16px 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: $size-16;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #071746;
    &:hover {
        opacity: .9;
    }
}