@use "../../../../../styles/common" as *;

.templateTable {
    padding: 16px 0 56px;
    border-spacing: 0;
    table-layout: fixed;
    @include mq (900px) {
        width: 100%;
    }
    .tableRow {
        display: flex; 
        border-top: solid 1px $color-primary;
        @include mq (900px) {
            flex-direction: column;
            width: 100%;
            border-top: none;
        }
        .tableContainer {
            @include mq (900px) {
                flex-direction: column;
                width: 100%;
                border-bottom: solid 1px $color-primary;
            }

            .lastTable {
                border-bottom: solid 1px $color-primary;
                @include mq (900px) {
                    border-bottom: none;
                }
            }
            .tableTitle {
                background-color: $color-primary-10pct;
                padding: 36px 32px;
                color: $color-primary;
                font-weight: 600;
                font-size: $size-16;
            }
            .tableContents {
                padding: 36px 32px;
                @include mq (900px) {
                    width: 100%;
                }
            }
        }
    }
}

.firstTable {
    border-top: none;
    @include mq (900px) {
        border-top: solid 1px $color-primary;
    }
}