@use "../../../../../styles/common" as *;


.pointSection {
    background-color: $color_open-light;
    border-radius: 8px;
    padding: 24px;
    .pointTitleContainer {
        display: flex;
        align-items: center;
        margin: 0 0 24px 24px;
        .pointTitle {
            margin-left: 8px;
            font-weight: 700;
        }
    }
    .pointList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .pointListContents {
            margin-left: 48px;
            display: flex;
            align-items: center;
            .listText {
                margin-left: 8px;
                font-size: $size-14;
                font-weight: 500;
            }
        }
    }
    .pointTextContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .pointText {
            font-size: $size-14;
            padding: 0px 24px;
            line-height: 1.75;
            font-weight: 400;
            text-align: justify;
        }
    }
}
