@use "../../../../styles/common" as *;

/* button Container*/
.buttonContainer {
    max-width: 1024px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: $color-gray;
    @include mq (1024px) {
        margin: 40px 16px;
    }
    .buttonText {
        padding: 0 4px;
    }
}
