@use "../../../../../../styles/common" as *;

.techniqueTitle {
    font-size: $size-18;
    margin-top: 16px;
}

.listText {
    font-size: $size-14;
    line-height: 1.75;
    text-align: justify;
    margin: 16px 0;
    padding: 0 24px;
    @include mq (768px) {
        padding: 0 8px;
    }
}

.flagText{
    font-size: $size-14;
    line-height: 1.75;
    text-align: justify;
    margin: 16px 0;
}