@use "../../../../../styles/common" as *;

.resumePointItem {
    margin: 56px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .resumePointTitle {
        color: $color-primary;
    }
}

