/*color*/
$color-primary: #11296C;
$color-primary-10pct: #DBDFE9;
$color-primary-30pct: #AEB5CB;
$color-secondary: #CC2936;
$color-tertiary-30pct: #FDE9D2;
$color-black: #333;
$color-white: #fff;
$color-gray: #F1F1F3;
$color-border-gray: #D6D7DC;
$color-open-light: #F1F7FF;
$gradient-primary: linear-gradient(to right, #0C1438, #11296C);
$color-correct: #2D7B68;

/*font size*/
$size-10: 0.625rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-32: 2rem;
$size-14: 0.875rem;
$size-28: 1.75rem;
$size-40: 2.5rem;
$size-44: 2.75rem;
$size-65: 4.0625rem;

@mixin mq ($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin btn($bg, $shadow) {
    background-color: $bg;
    color: $color-white;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    padding: 14px 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: $size-16;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 $shadow;
    &:hover {
        opacity: .8;
    }
}

.section {
    margin: 0 auto;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

/*h1 section*/
.titleContainer {
    background-color: $color-white;
    padding-bottom: 4px;
}

/*h1 title*/
.sectionTitle {
    background: $gradient-primary;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $size-32;
    font-weight: 900;
    @include mq (768px) {
        font-size: $size-24;
    }
}

.sectionDescription {
    font-size: $size-14;
    margin: 8px auto 40px;
}

.contentsContainer {
    background-color: $color-gray;
    padding: 40px 0;
}

.topImg {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
    height: auto;
    @include mq (520px) {
        width: 95%;
    }
}

/*contents Section*/
.contentsSection {
    background-color: $color-white;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include mq (768px) {
        padding: 24px 16px; 
    }
}

/*h2 title*/
.subTitle {
    padding: 16px;
    background-color: $color-primary-10pct;
    border: solid 1px $color-primary-30pct;
    border-radius: 4px;
    color: $color-primary;
    font-weight: 900;
    font-size: $size-20;
    display: flex;
    align-items: center;
    @include mq (500px) {
        font-size: $size-18;
    }
}

/*h2 title elements*/
.subTitle__text {
    margin-left: 4px;
}

/*contents wrapper*/
.contentsWrapper {
    padding: 0 24px;
    margin: 0 auto;
    @include mq (768px) {
        padding: 0 8px;
    }
}

/* contents image*/
.imgContainer {
    display: block;
    margin: 0 auto;
    padding: 16px 0;
    height: auto;
    text-align: center;
    max-width: 580px;
    .subImg {
        width: 100%;
        height: auto;
    }
}

/* contents text */
.contentsList {
    list-style: none;
    .contentsText {
        font-size: $size-14;
        padding: 16px 24px;
        line-height: 1.75;
        font-weight: 400;
        text-align: justify;
        @include mq (768px) {
            padding: 16px 8px;
        }
    }
}

/*guide text*/
.guideText {
    font-size: $size-14;
    padding: 16px 0;
    line-height: 1.75;
    text-align: justify;
}

/*line*/
.line {
    width: 100%;
    height: 1px;
    background-color: $color-border-gray;
    display: block;
}