@use "../../../../../../styles/common" as *;

.listText {
    font-size: $size-14;
    text-align: justify;
    line-height: 1.75;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & > span {
        text-align: justify;
    }
}

.pointTextContainer {
    display: flex;
    flex-direction: column;
}